# Fixes for x86_64_defconfig
# CONFIG_NF_CONNTRACK_SECMARK isn't enabled but NETFILTER_XT_TARGET_CONNSECMARK is
CONFIG_NETFILTER_XT_TARGET_CONNSECMARK=n
# Fix for NF_NAT (defined at net/netfilter/Kconfig:374) was assigned the value 'y' but got the value 'm' -- check dependencies
CONFIG_NF_NAT=m
# Fix for IP_NF_TARGET_MASQUERADE (defined at net/ipv4/netfilter/Kconfig:272) was assigned the value 'y' but got the value 'm' -- check dependencies
CONFIG_IP_NF_TARGET_MASQUERADE=y
# Fix for defconfig, CONFIG_PCI_MSI is required for INTEL_IOMMU
CONFIG_PCI_MSI=y
