# Disable irrelevant stuff
CONFIG_KEYBOARD_ATKBD=n
CONFIG_MOUSE_PS2=n
CONFIG_SERIO_I8042=n
CONFIG_SERIO_SERPORT=n
CONFIG_SERIO_LIBPS2=n
CONFIG_SERIO=n
CONFIG_SERIAL_8250=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SERIAL_8250_NR_UARTS=0 # Should have option to set to null, currently reports warning "warning: SERIAL_8250_NR_UARTS (defined at drivers/tty/serial/8250/Kconfig:149) was assigned the value '0' but got the value '' -- check dependencies"
CONFIG_SERIAL_8250_EXTENDED=n
CONFIG_SERIAL_8250_MANY_PORTS=n
CONFIG_SERIAL_8250_SHARE_IRQ=n
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_SERIAL_8250_RSA=n
CONFIG_EEEPC_LAPTOP=n
CONFIG_HAMRADIO=n
CONFIG_PCCARD=n
CONFIG_YENTA=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_INPUT_TABLET=n
CONFIG_SERIAL_NONSTANDARD=n
CONFIG_SECURITY=n
CONFIG_NETLABEL=n
CONFIG_SECURITY_NETWORK=n
CONFIG_SECURITY_SELINUX=n
CONFIG_SECURITY_SELINUX_BOOTPARAM=n
CONFIG_SECURITY_SELINUX_DISABLE=n
CONFIG_BLK_DEV_DM=n
CONFIG_DM_MIRROR=n
CONFIG_DM_ZERO=n
CONFIG_BLK_DEV_MD=n
CONFIG_AMD_NUMA=n
CONFIG_AMD_IOMMU=n
CONFIG_CALGARY_IOMMU=n
CONFIG_LOGO=n
CONFIG_ACPI_DOCK=n
CONFIG_AGP=n
CONFIG_AGP_AMD64=n
CONFIG_AGP_INTEL=n
CONFIG_AMIGA_PARTITION=n
CONFIG_BACKLIGHT_GENERIC=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y # Required to disable the userspace governor
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n # To override default
CONFIG_DEBUG_DEVRES=n
CONFIG_DEBUG_STACKOVERFLOW=n
CONFIG_DEBUG_STACK_USAGE=n
CONFIG_E100=n
CONFIG_E1000=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_FB_EFI=n
CONFIG_FB_MODE_HELPERS=n
CONFIG_FB_TILEBLITTING=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_MAC_EMUMOUSEBTN=n
CONFIG_MD=n
CONFIG_MICROCODE_AMD=n
CONFIG_OSF_PARTITION=n
CONFIG_PROVIDE_OHCI1394_DMA_INIT=n
CONFIG_QFMT_V2=n
CONFIG_SCSI_SPI_ATTRS=n
CONFIG_SGI_PARTITION=n
CONFIG_SUN_PARTITION=n
CONFIG_TCP_MD5SIG=n
CONFIG_UEVENT_HELPER=n
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_VGACON_SOFT_SCROLLBACK=n
CONFIG_X86_ACPI_CPUFREQ=n
CONFIG_X86_CHECK_BIOS_CORRUPTION=n

# Change from builtin to module
CONFIG_X86_CPUID=m
CONFIG_X86_MSR=m
CONFIG_INPUT_POLLDEV=m
CONFIG_USB=m
CONFIG_USB_MON=m
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_OHCI_HCD=m
CONFIG_USB_UHCI_HCD=m
