# USB
CONFIG_USB_SUPPORT=y
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_OHCI_HCD=m
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_EHCI_HCD_PLATFORM=m
CONFIG_USB_ACM=m # Required for Teensy
CONFIG_USB_STORAGE=m
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_CP210X=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_OPTION=m
CONFIG_USB_EZUSB_FX2=m

# HID
CONFIG_HID_GENERIC=m
CONFIG_USB_HID=m
CONFIG_HID_BATTERY_STRENGTH=y
## Devices that we want
CONFIG_HID_MAGICMOUSE=m
CONFIG_HID_LOGITECH=m
CONFIG_HID_LOGITECH_DJ=m
CONFIG_LOGITECH_FF=n
CONFIG_LOGIWHEELS_FF=n
CONFIG_HID_SONY=m # PS3/4 controllers
CONFIG_SONY_FF=y
## Disable useless devices that for some reason are enabled by default
CONFIG_HID_A4TECH=n
CONFIG_HID_BELKIN=n
CONFIG_HID_CHERRY=n
CONFIG_HID_CHICONY=n
CONFIG_HID_CYPRESS=n
CONFIG_HID_EZKEY=n
CONFIG_HID_GYRATION=n
CONFIG_HID_KENSINGTON=n
CONFIG_HID_MONTEREY=n
CONFIG_HID_NTRIG=n
CONFIG_HID_PANTHERLORD=n
CONFIG_PANTHERLORD_FF=n
CONFIG_HID_PETALYNX=n
CONFIG_HID_SAMSUNG=n
CONFIG_HID_SUNPLUS=n
CONFIG_HID_TOPSEED=n

# Device drivers/sound card support
CONFIG_SOUND=y
CONFIG_SND=m
CONFIG_SND_SEQUENCER=m
CONFIG_SND_SEQ_DUMMY=m
CONFIG_SND_HRTIMER=m
CONFIG_SND_MIXER_OSS=m
CONFIG_SND_PCM_OSS=m
CONFIG_SND_SEQUENCER_OSS=y
CONFIG_SND_DYNAMIC_MINORS=y
CONFIG_SND_VERBOSE_PROCFS=n
CONFIG_SND_DRIVERS=n
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_HWDEP=y
CONFIG_SND_HDA_RECONFIG=y
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CODEC_CIRRUS=m
CONFIG_SND_PCMCIA=n
CONFIG_SND_USB_AUDIO=m
CONFIG_SND_USB_CAIAQ=m # Native Instruments USB audio devices
CONFIG_SND_USB_CAIAQ_INPUT=y

# Networking
CONFIG_NETDEVICES=y
# Ethernet
CONFIG_ETHERNET=y
CONFIG_FDDI=n
CONFIG_NETCONSOLE=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_VENDOR_ALTEON=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NET_CADENCE=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_TIGON3=n # Enabled in defconfig
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_NET_TULIP=n # Enabled in defconfig
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_NET_VENDOR_EXAR=n
CONFIG_NET_VENDOR_HP=n
CONFIG_E1000E=m
CONFIG_NET_VENDOR_I825XX=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_SKY2=n # Enabled in defconfig
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_FORCEDETH=n # Enabled in defconfig
CONFIG_NET_VENDOR_OKI=n
CONFIG_NET_PACKET_ENGINE=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_8139TOO=n # Enabled in defconfig
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_WIZNET=n

# USB networking
CONFIG_USB_USBNET=m
CONFIG_USB_NET_RNDIS_HOST=m
## Disable useless devices that for some reason are enabled by default
CONFIG_USB_NET_AX88179_178A=n
CONFIG_USB_NET_CDC_NCM=n
CONFIG_USB_NET_NET1080=n
CONFIG_USB_NET_CDC_SUBSET=n
CONFIG_USB_NET_ZAURUS=n

# Wi-Fi
CONFIG_WLAN=y
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_RFKILL=m
## Disable useless devices that for some reason are enabled by default
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_WLAN_VENDOR_ATMEL=n
CONFIG_WLAN_VENDOR_CISCO=n
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_WLAN_VENDOR_ZYDAS=n

# Bluetooth
CONFIG_BT=m
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=m
CONFIG_BT_DEBUGFS=n

# PC SMBus host controller drivers
# CONFIG_I2C_ALI1535=m
# CONFIG_I2C_ALI1563=m
# CONFIG_I2C_ALI15X3=m
# CONFIG_I2C_AMD756=m
# CONFIG_I2C_AMD756_S4882=m
# CONFIG_I2C_AMD8111=m
# CONFIG_I2C_PIIX4=m
# CONFIG_I2C_NFORCE2=m
# CONFIG_I2C_SIS5595=m
# CONFIG_I2C_SIS630=m
# CONFIG_I2C_SIS96X=m
# CONFIG_I2C_VIA=m
# CONFIG_I2C_VIAPRO=m
# CONFIG_I2C_OCORES=m
# CONFIG_I2C_SIMTEC=m
# CONFIG_I2C_TAOS_EVM=m
# CONFIG_I2C_TINY_USB=m

# Device drivers/SCSI device support
CONFIG_BLK_DEV_SD=y # Required for SATA
CONFIG_BLK_DEV_SR=n
CONFIG_BLK_DEV_SR_VENDOR=n
CONFIG_CHR_DEV_SG=n

# Block devices
CONFIG_BLK_DEV_LOOP=y

# Framebuffer
CONFIG_X86_SYSFB=y
CONFIG_FB_SIMPLE=y
CONFIG_FIRMWARE_EDID=y
CONFIG_FRAMEBUFFER_CONSOLE=y

# Devices drivers/Serial ATA and Parallel ATA drivers (libata)
CONFIG_ATA=y
CONFIG_SATA_PMP=n
CONFIG_ATA_SFF=n
CONFIG_ATA_PIIX=n # Enabled in defconfig
CONFIG_PATA_AMD=n # Enabled in defconfig
CONFIG_PATA_OLDPIIX=n # Enabled in defconfig
CONFIG_PATA_SCH=n # Enabled in defconfig

# Device drivers/graphics support
CONFIG_DRM=y

# Device Drivers/Input device support
CONFIG_INPUT_JOYDEV=m
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_XPAD=m
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_PCSPKR=m

# Device drivers/Character devices
CONFIG_HW_RANDOM=m
CONFIG_HW_RANDOM_INTEL=m
CONFIG_HW_RANDOM_VIA=n
