# Libvirt
# Extracted from ebuild
CONFIG_MACVLAN=m # Required for macvtap
CONFIG_MACVTAP=m
CONFIG_BRIDGE_EBT_MARK_T=m
CONFIG_BRIDGE=m # Required for CONFIG_BRIDGE_NF_EBTABLES
CONFIG_BRIDGE_NF_EBTABLES=m
CONFIG_NETFILTER_ADVANCED=y # Required for Netfilter config options below
CONFIG_NETFILTER_XT_CONNMARK=m
CONFIG_NETFILTER_XT_MARK=m
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_MANGLE=m
CONFIG_IP_NF_NAT=m
CONFIG_IP_NF_TARGET_MASQUERADE=m
CONFIG_IP6_NF_FILTER=m
CONFIG_IP6_NF_TARGET_REJECT=m # Dependency of CONFIG_IP6_NF_FILTER with default value of y
CONFIG_IP6_NF_MANGLE=m
CONFIG_IP6_NF_NAT=m
CONFIG_BRIDGE_EBT_T_NAT=m
CONFIG_IP_NF_TARGET_REJECT=m
CONFIG_NET_ACT_POLICE=m
CONFIG_NET_CLS_FW=m
CONFIG_NET_CLS_U32=m
CONFIG_NET_SCH_HTB=m
CONFIG_NET_SCH_INGRESS=m
CONFIG_NET_SCH_SFQ=m
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
